body{
    background-image:url('../images/poster_lg.jpg');
    background-repeat:no-repeat;
    /* background-position:center; */
    background-attachment:fixed;
    background-size: 100% 100%;
}

.dropdown{
    margin-bottom:3px !important;
}

.container{
    opacity:0.95
}

h1{
    font-family: YouYuan;
    color:white;
    text-shadow:1px 1px 0 lightblue;
}

p{
    font-family:SimSun;
    color:white;
    text-shadow:1px 1px 0 lightblue;
}

h4{
    color:#1E1E1E
}